<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/result" method="POST">
        <table>
            <tr> 
                <td> Your name: <input type="text" name="name" id=""></td>
            </tr>
            <tr>
                <td>Dojo Location:  <select name="location" id="">
                                <option value="Dallas">Dallas</option>
                                <option value="Arlington">Arlington</option>
                                <option value="Oakland">Oakland</option>
                            </select></td>
            </tr>
            <tr>
                <td> Language:  <select name="language" id="">
                                    <option value="Python">Python</option>
                                    <option value="Javascript">Javascript</option>
                                    <option value="C-Sharp">C-Sharp</option>
                                </select></td>
            </tr> 
            <tr>
                <td>Comment (Optional): <input type="textarea" name="comment" id=""></td>
            </tr>
            <tr>
                <td> <input type="submit" value="Send it!"></td>
            </tr>
    </table>
    </form>
</body>

</html>